<html>

<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="icon" href="resources/image/Vector-12.png">


    <!-- link bs5 css file -->
    <link rel="stylesheet" href="resources/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bs5 js file -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.min.js">
    </script>

    <!-- lik fontawesome css file -->
    <link rel="stylesheet" href="resources/fontawesome-free-6.4.2/css/all.css">

    <!-- link jquery js file -->
    <script src="resources/script/jquery-3.7.1.js"></script>

    <!-- datatable css file -->
    <link rel="stylesheet" href="resources/datatables-1.13.6/css/jquery.dataTables.min.css">

    <!-- datatable js file -->
    <script src="resources/datatables-1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- link common css file -->
    <link rel="stylesheet" href="resources/style/common.css">



    <!-- import table user js -->
    <script src="resources/script/tableCommonFunction.js"></script>
    <script src="resources/script/commonFunction.js"></script>
    <script src="resources/script/validationFunction.js"></script>



</head>

<body>

    <nav th:fragment="navFragment" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="${user}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Link</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <span class="btn btn-outline-success" th:text="${user}"></span>
                    <a onclick="
                    let userConfirm=confirm('Are you sure to sign out?');
                    if(confirm){
                        window.location.replace('/logout');
                    }
                    ">  sign out </a>
                </form>
            </div>
        </div>
    </nav>

</body>

</html>